li{
	list-style: none;
}
.navbar-nav{
	height: 40px;
	background-color: #616161;
	position: absolute;
	top: 14%;
	z-index: 999;
}

.navbar-nav span li{
	font-size: 14px;
	float: right;
	padding-right: 3px;
	padding-left: 5px;
	height: 100%;
}

#dropdown-large:hover{
	margin-top: 2px;
	border-bottom: 2px solid cyan;
	
}

.navbar-nav span li a{
	color: white;
}

.under-navbar-nav{
	height: 2px;
	background-color: black;
	position: absolute;
	top: 20.5%;
}

.menu-wrapper li a{
	color: darkcyan !important;
	margin-left: 60px;
	font-weight: bold;
	font-size: 14px;
}

.dropdown-menu{
	margin-right: 930px;
	min-width: 1000px;
	min-height: 300px;
	top: 10px !important;
}

.col-sm-2 a{
	color: cyan;
}

.menu-wrapper li ul li a{
	color: black !important;
	font-size: 13px;
	margin: 0 0 0 40px;
	font-weight: normal;
}

@media only screen and (max-width: 1000px;){
	nav{
		display: none;
	}
	header{
		height: 150px;
	}
}