<template>
    <button type="submit" class="level btn" style="text-decoration:none" @click="toggle">
        <div :class="classes"></div>&nbsp;
        <div v-text="favoritesCount" class="text-dark"></div>
    </button>
</template>

<script>
    export default {
        props: ['reply'],

        data() {
            return {
              favoritesCount: this.reply.favoritesCount,
                isFavorited: this.reply.isFavorited
            };
        },

        computed: {
          classes() {
              return ['text-danger', this.isFavorited ? 'fas fa-heart' : 'far fa-heart'];
          },
            endpoint() {
                return '/replies/' + this.reply.id + '/favorites';
            }
        },

        methods: {
            toggle() {
                return this.isFavorited ? this.unfavorite() : this.favorite();
            },
            unfavorite() {
                axios.delete(this.endpoint);
                this.isFavorited = false;
                this.favoritesCount--;
            },
            favorite() {
                axios.post(this.endpoint);
                this.isFavorited = true;
                this.favoritesCount++;
            }
        }
    }
</script>

<style scoped>

</style>