<template>
    <div>
        <div v-if="signedIn">
            <div class="form-group mt-2">

                <wysiwyg name="body" placeholder="Have Something to say?" v-model="body" :shouldClear="completed"></wysiwyg>

            </div>
            <button type="submit"
                    class="btn btn-primary mt-2"
                    @click="addReply">
                Post
            </button>
        </div>
        <div v-else>
            <p class="text-center mt-3">
                Please <a href="/login">sign in</a> to leave thread or reply
            </p>
        </div>
    </div>
</template>

<script>
    import 'jquery.caret';
    import 'at.js';

    export default {
        data() {
            return {
                body: '',
                completed: false
            };
        },

        mounted() {
            $('#body').atwho({
                at: "@",
                delay: 750,
                callbacks: {
                    remoteFilter: function (query, callback) {
                        $.getJSON("/api/users", {name: query}, function (usernames) {
                            callback(usernames)
                        });
                    }
                }
            });
        },

        methods: {
            addReply() {
                axios.post(location.pathname + '/replies', {body: this.body})
                    .then(({data}) => {
                        this.body = '';
                        this.completed = true;

                        flash('Your reply has been posted!');
                        this.$emit('createdReply', data);
                    })
                    .catch(error => {
                        flash(error.response.data, 'danger');
                    });
            }
        }
    }
</script>

<style scoped>

</style>