<!--global this component in app.js-->
<template>
    <div>
        <ul class="pagination mt-2" v-if="shouldPaginate">
            <li class="page-item" v-show="prevUrl">
                <a href="#" class="page-link" aria-label="Previous" rel="prev" @click.prevent="page--">
                    <span aria-hidden="true">&laquo; Prev</span>
                </a>
            </li>
            <li>
                <a href="#" class="page-link"></a>
            </li>
            <li class="page-item" v-show='nextUrl'>
                <a href="#" class="page-link" aria-label="Next" rel="next" @click.prevent="page++">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props:['dataSet'],

        data() {
            return {
                page: 1,
                prevUrl: false,
                nextUrl: false
            };
        },

        watch: {
          // for watching dataSet has next page or not
          dataSet() {
              this.page = this.dataSet.current_page;
              this.prevUrl = this.dataSet.prev_page_url;
              this.nextUrl = this.dataSet.next_page_url;
          },

            page() {
              this.broadcast().updateUrl();
            }
        },

        computed: {
            shouldPaginate() {
                return !! this.prevUrl || !! this.nextUrl;
            }
        },

        methods: {
            broadcast() {
                return this.$emit('changed', this.page);
            },

            updateUrl() {
                // For changing url in browser
                history.pushState(null, null, '?page=' + this.page);
            }
        }
    }
</script>