<template>
    <div class="card mt-2" :id="'reply-' + id">
        <div class="card-header">

            <div class="level">

                <h5 class="flex">
                    <a :href="'/profiles/' + data.owner.name"
                       v-text="data.owner.name">
                    </a> said
                    <span v-text="ago"></span>
                </h5>

                <div v-if="signedIn">
                    <favorite :reply="data"></favorite>
                </div>

            </div>

        </div>
        <div class="card-body">

            <div v-if="editing">
                <form @submit.prevent="update">
                    <div class="form-group">
                        <wysiwyg v-model="body"></wysiwyg>

                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                    <button type="button" class="btn btn-link btn-sm" @click="editing = false">Cancel</button>
                </form>
            </div>

            <div v-else v-html="body" class="body"></div>

        </div>

        <div class="card-footer level" v-if="authorize('owns', data) || authorize('owns', data.thread)">
            <button type="submit" class="btn btn-sm btn-info mr-2" @click="editing = true">Edit</button>
            <button type="submit" class="btn btn-sm btn-danger" @click="destroy">Delete</button>
        </div>
    </div>

</template>
<script>
    import Favorite from './Favorite.vue';
    import moment from 'moment';

    export default {
        props: ['data'],

        components: {Favorite},

        data() {
            return {
                editing: false,
                id: this.data.id,
                body: this.data.body
            };
        },

        computed: {
            ago() {
                return moment(this.data.created_at).fromNow();
            },
            signedIn() {
                return window.App.signedIn;
            }
        },

        methods: {
            update() {
                axios.patch('/replies/' + this.data.id, {
                    body: this.body
                }).then(() => {
                    this.editing = false;
                    flash('Updated');
                }).catch(error => {
                    flash(error.response.data, 'danger');
                });


            },
            destroy() {
                axios.delete('/replies/' + this.data.id);

                this.$emit('replyDeleted', this.data.id);
                flash('Your Reply has been removed!', 'warning')
            }
        }
    }
</script>

<style scoped>

</style>