<template>
    <button :class="classes" @click="subscribe">{{subscribeButton}}</button>
</template>

<script>
    export default {
        props: ['active'],

        data() {
            return {
                subActive: this.active
            };
        },

        computed: {
            classes() {
                return ['btn col', this.subActive ? 'btn-light border' : 'btn-danger'];
            },
            subscribeButton() {
                return this.subActive ? 'Subscribed!' : 'Subscribe';
            }
        },

        methods: {
            subscribe() {
                let requestType = this.subActive ? 'delete' : 'post';

                axios[requestType](location.pathname + '/subscriptions');

                this.subActive = !this.subActive;
            }
        }
    }
</script>
