<template>
    <div>
        <li class="nav-item dropdown mr-2" v-if="notifications.length">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-bell"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-item" v-for="notification in notifications">
                    <a :href="notification.data.link" class="nav-link p-1"
                       @click="markAsRead(notification)"
                       v-text="notification.data.message"></a>
                </li>
            </ul>
        </li>
    </div>
</template>

<script>
    export default {
        data() {
            return { notifications: false };
        },

        created() {
            axios.get("/profiles/" + window.App.user.name + "/notifications")
                .then(response => this.notifications = response.data);
        },

        methods: {
            markAsRead(notification) {
                axios.delete('/profiles/' + window.App.user.name + '/notifications/' + notification.id);
            }
        }
    }
</script>
